<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/admin-nav.ejs') %>
        <main>
            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <div style=" display: flex;  flex-wrap: wrap;">
                    <div class="info" style="background-color: #abc0b4d2; padding: 10px; border-radius: 5px; width: 400px;">
                        <h3>Name:</h3><p><%=info.name %></p>
                        <h3>Phone: </h3><p><%=info.phone %></p>
                        <h3>Address: </h3><p><%=info.address %></p>
                        <h3>Email:</h3> <p><%=info.email %></p>
                    </div>
                <ul>
                    <% orders.forEach(order => { %>
                        <% var total=0 %>
                            <div style="background-image: linear-gradient(to right, rgba(128, 207, 92, 0.308), rgb(233, 225, 225)); margin-bottom: 10px; width: 800px; ">
                            <h6># <%= order.id %></h6>
                            <ul style="position:relative ;">
                                <% order.products.forEach(product => { %>
                                    <li style="list-style: none; margin: 2px;">
                                        <div style="display:flex ;justify-content: space-between;background-color: cadetblue;padding: 0px 10px 0px 10px; width: 500px;">
                                           <p>Product: <%= product.title %> </p> 
                                           <p> qty: <%= product.orderItem.qty %></p>
                                            <p>At <%= product.price %></p>
                                            <% total += product.orderItem.qty*product.price %>
                                        </div>
                                    </li>
                                    
                                <% }); %>
                                <p style="padding: 10px;">Total Purchased:<%=total %></p>
                                <% if (!order.status){ %>
                                    <form action="/admin/transport" method="post">
                                        <input type="hidden" value="<%= order.id %>" name="orderId">
                                        <button class="btn" type="submit" style="margin:10px ;">Transported</button>
                                    </form>
                                   <% } else {%>
                                    <p style="margin:10px ; background-color: #3a9761; display: inline; padding: 5px;position: absolute;right: 65px;top: 5px;">Transported</p>
                                    <% }%>
                            </ul>

                            </div>
                        
                    <% }); %>
               
                </ul>
            </div>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>