<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
            <div>
                <ul>
                    <% orders.forEach(order => { %>
                        <% var total=0 %>
                        <div class="orderItems">

                            <h6 class="id"># <%= order.id %></h6>
                            <ul>
                                <div class="status">
                                <% if(order.status) {%>
                                    <p><i class="fa-solid fa-plane"></i> <%= order.status %></p>
                                <%} else {%>
                                    <p class="yellow"> <i class="fa-solid fa-clock"></i> Order-Placed</p>
                                <%}%>
                                </div>
                                <% order.products.forEach(product => { %>
                                    <li style="list-style: none; margin: 2px;" class="li1">
                                        <p class="white"> <i class="fa-solid fa-paperclip"></i> <%= product.title %></p>
                                        <p class="white"><i class="fa-solid fa-cart-plus"></i> Qty: <%= product.orderItem.qty %></p>   
                                        <p class="white">price: <%= product.price %> <i class="fa-solid fa-indian-rupee-sign"></i></p>
                                        <p class="white"><% total += product.orderItem.qty*product.price %></p>
                                    </li>
                                <% }); %>
                                <p class="purchase"><i class="fa-solid fa-check"></i> Total:  <%=total %> </p>
                              
                            </ul>
                        </div>
                        
                    <% }); %>
               
                </ul>
            </div>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>